<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>楽天APIで本を検索して表示</title>
</head>
<body>
    <table>
        <tr>
            <th>番号</th>
            <th>表紙画像</th>
            <th>タイトル</th>
            <th>出版社</th>
            <th>積む？</th>
        </tr>
        <% for(let i = 0; i < 5; i++) { %>
        <tr>
            <form action="/insert" method="post">
            <td><%= i+1 %></td>
            <td><img src="<%= kekka[i].Item.largeImageUrl %>"></td>
            <td><%= kekka[i].Item.title %></td>
            <td><%= kekka[i].Item.publisherName %></td>
            <td>
                <input type="hidden" name="largeImageUrl" value="<%= kekka[i].Item.largeImageUrl %>">
                <input type="hidden" name="title" value="<%= kekka[i].Item.title %>">
                <input type="hidden" name="publisherName" value="<%= kekka[i].Item.publisherName %>">
                <input type="submit" value="積読しとく">
            </td>
            </form>
        </tr>
        <% } %>
    </table>
    <a href='/'>
        TOPに戻る
    </a>
</body>
</html>